<!DOCTYPE html>
<html lang="en">

<head>
    <meta meta charset="UTF-8">
    <title>Zona Franca</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/icon.css">
    <link rel="stylesheet" type="text/css" href="../css/fonts.css">
    <link rel="shortcut icon" href="#" />
    <script src="../node_modules/angular/angular.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" rel="stylesheet">
    <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrlLogin">
    <div id="loader"></div>
</body>

<script src="../controllers/appLogin.js"></script>
<script src="../services/servicesToken.js"></script>
<script src="../services/servicesWebexTeams.js"></script>

</html>